.offer {
  border-bottom: 1px solid;
  padding-top: 0.7em;
  padding-bottom: 0.5em;
}

.offerPrice {
  background: #50E48B;
  color: white;
  border-radius: 50px;
  border: none;
  height: 50px;
  width: 100px;
}

i.fa.fa-arrow-right {
  color: #215C6C;
}
